.home {
  background-color: #e19853;
  margin-top: -40px;
  height: 300px;
  display: flex;
  justify-content: center;
}
.family img {
  margin-top: -110px;
}
@media (max-width: 1024px) {
  .family img {
    margin-top: -50px;
  }
}

.home h3 {
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  font-weight: bold;
}
.home p {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.home button {
  border: none;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #e19853;
  color: #923838;
  font-weight: 550;
  margin-left: 35px;
  margin-top: 15px;
}
.home button:hover {
  background-color: #923838;
  color: #fff;
}
